1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [3]:
# Kerjakan nomor 1 di sini
for i in range(1,51):
    print(f"kuadrat{i}= {i**2}")

kuadrat1= 1
kuadrat2= 4
kuadrat3= 9
kuadrat4= 16
kuadrat5= 25
kuadrat6= 36
kuadrat7= 49
kuadrat8= 64
kuadrat9= 81
kuadrat10= 100
kuadrat11= 121
kuadrat12= 144
kuadrat13= 169
kuadrat14= 196
kuadrat15= 225
kuadrat16= 256
kuadrat17= 289
kuadrat18= 324
kuadrat19= 361
kuadrat20= 400
kuadrat21= 441
kuadrat22= 484
kuadrat23= 529
kuadrat24= 576
kuadrat25= 625
kuadrat26= 676
kuadrat27= 729
kuadrat28= 784
kuadrat29= 841
kuadrat30= 900
kuadrat31= 961
kuadrat32= 1024
kuadrat33= 1089
kuadrat34= 1156
kuadrat35= 1225
kuadrat36= 1296
kuadrat37= 1369
kuadrat38= 1444
kuadrat39= 1521
kuadrat40= 1600
kuadrat41= 1681
kuadrat42= 1764
kuadrat43= 1849
kuadrat44= 1936
kuadrat45= 2025
kuadrat46= 2116
kuadrat47= 2209
kuadrat48= 2304
kuadrat49= 2401
kuadrat50= 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [1]:
#kerjakan nomor 2 disini
nama = ["julie","meli","fiya","dika","nadya","mira","novita","zalfa","muti","zarla","nala","raisa"]
asd = input("masukkan nama")
asd = asd.lower()
for x in nama:
    if asd == x:
        print(f'{x} \npencarian anda sudah berakhir')
        break
    print(x)

julie
meli
fiya
dika
nadya
mira
novita
zalfa
muti
zarla
nala
raisa
pencarian anda sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [2]:
#kerjakan nomor 3 di sini
import random
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']
a = 0
for i in bulan:
    if i in ["april", "mei"]:
        print(f'dibulan {i} robert mau istirahat')
        continue
    print(f'Robert akan konser di bulan {i} di kota', kota[a])
    a+=1
    if a == 8:
        a = random.randrange(0,8)

Robert akan konser di bulan januari di kota jakarta
Robert akan konser di bulan februari di kota kuala lumpur
Robert akan konser di bulan maret di kota bangkok
dibulan april robert mau istirahat
dibulan mei robert mau istirahat
Robert akan konser di bulan juni di kota seoul
Robert akan konser di bulan juli di kota canada
Robert akan konser di bulan agustus di kota london
Robert akan konser di bulan september di kota dubai
Robert akan konser di bulan oktober di kota barcelona
Robert akan konser di bulan november di kota london
Robert akan konser di bulan desember di kota dubai